.main-font {
    color: black;
    animation-duration: .6s;
    &:hover {
        color: $activityColor;
        text-shadow: 1px 1px 2px rgba(255,255,255,.3), 1px -1px 2px rgba(255,255,255,.3), -1px 1px 2px rgba(255,255,255,.3), -1px -1px 2px rgba(255,255,255, .3);
    }
}

.container {
    position: relative;
    overflow: hidden;
    clear: both;
    zoom: 1;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}

.full {
    width: 100%;
    height: 100%;
}

.trans-dura-4 {
    transition-duration: .4s;
}
.trans-dura-6 {
    transition-duration: .6s;
}

.center {
    justify-content: center;
}

